{% extends 'base.html' %}

{% block header %}
<div class="jumbotron" style="text-align:center; background-color:orange">
  <h1 class="display-4">Внимание!</h1>
  <p class="lead">Вы можете выбрать от 1 до 3 вариантов ответа</p>
  <hr class="my-4">
  <input type="button" class="btn btn-secondary btn-lg" onclick="history.back();" value="Назад"/>
</div>
{% endblock %}
