{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block header %}
    <h1>Question: {{ question.text }}?</h1>
{% include 'includes/test_progress.html' %}

{% endblock %}

{% block content %}
    <form method="post" autocomplete="off">
        {% csrf_token %}

        {{choices.management_form}}

        <div class="border-buttom mb-3">
            Please, select one of the possible choices below:
        </div>

        {% for form in choices %}

            <div class="mt-1">

                {{ form.is_selected }} <label for="{{ form.is_selected.id_for_label }}"> {{ form.text.value }}</label>

            </div>

        {% endfor %}

        <button type="submit" class="btn btn-success">Next</button>
    </form>
{% endblock %}
