{% extends 'base.html' %}
{% block greetings %}
    <h1 class="display-1"  style="text-align:center; color:red;">User is logged out</h1>
{% endblock %}

{% block content %}
    <div class="d-grid gap-2 col-4 mx-auto">
        <a href="{% url 'accounts:login' %}" class="btn btn-primary" type="button">Login</a>
        <a href="{% url 'accounts:registration' %}" class="btn btn-success" type="button">Register</a>
    </div>
{% endblock %}