{% extends 'base.html' %}

{% block greetings %}
    <h1 class="display-1"  style="text-align:center; color:red;">Delete profile</h1>
{% endblock %}

{% block content %}
    <div class="container" style="text-align: center">

        <h3> Do you really want to delete Profile: {{user.username}} ? </h3>

        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger btn-lg mt-2" type="submit" value="Delete">
            <a class="btn btn-warning btn-lg mt-2" href="{% url 'accounts:profile'  %}" role="button">Cancel</a>
        </form>

    </div>
{% endblock %}
