{% extends 'base.html' %}
{% block header %}
    <h2>Delete the result for the {{result.test}}</h2>
{% endblock %}
{% block content %}
   <form method="POST">
       {% csrf_token %}
     <input type="submit" value="Delete">
       <a class="cancel_button" href="{% url 'tests:list' %}">Cancel</a>
   </form>

{% endblock %}
