
{% extends 'base.html' %}

{% block header %}
    <div class="container mt-3" style="border-style:dotted;  border-width:2px;">
        <h1 style="text-align:center; font-size:300%; color:red;">PAGE_404</h1>
    </div>
{% endblock %}
