{% extends 'base.html' %}

{% block greetings %}
    <div class="container mt-3" style="border-style:dotted;  border-width:2px;">
        <h1 style="text-align:center; font-size:300%; color:red;">WELCOME TO Quiz!!!</h1>
    </div>
{% endblock %}

{% block main %}

{% endblock %}

